body {
    background-color: #222;
    color: #fff;
    margin: 10px;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra do cabeçalho */
    background-image: url("../img/logo_bit_300x150px.svg");
    /* Imagem de fundo do cabeçalho */
    background-size: contain;
    /* Controla o tamanho da imagem de fundo */
    background-repeat: no-repeat;
    /* Impede a repetição da imagem de fundo */
    background-position: center;
    /* Posiciona a imagem de fundo ao centro */
}

/* Estilo para informações principais do usuário no cabeçalho */
.user-primary-info {
    display: flex;
    /* Faz as informações principais do usuário serem um flex container */
    align-items: center;
    /* Alinha os elementos ao centro verticalmente */
}

.user-profile-img {
    background-color: #007bff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Estilo para identificação do usuário no cabeçalho */
.user-identify {
    display: flex;
    /* Faz a identificação do usuário ser um flex container */
    flex-direction: column;
    /* Coloca os elementos em coluna */
    margin: 0px 10px;
}

.user-identify p {
    display: flex;
    margin: 0px;
    padding: 0px;
    color: #007bff;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.user-name {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Remove o negrito do nome do usuário para não ficar em negrito */
}

/* Estilo para link de logout */
.logout-link {
    background-color: #007bff;
    /* Cor de fundo do link de logout */
    color: #fff;
    /* Cor do texto do link de logout */
    padding: 6px 12px;
    /* Preenchimento interno do link de logout */
    border-radius: 5px;
    /* Borda arredondada do link de logout */
    text-decoration: none;
    /* Remove sublinhado do link de logout */
    font-weight: bold;
    /* Peso da fonte do link de logout */
}

/* Estilo para link de logout ao passar o mouse */
.logout-link:hover {
    background-color: #000;
    /* Cor de fundo do link de logout ao passar o mouse */
    color: #fff;
    /* Cor do texto do link de logout ao passar o mouse */
}

/* Fim do Cabeçalho */

/* Menu Display */
.menu {
    position: absolute;
    top: 90px;
    padding: 10px 10px 0px 10px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 25px;
    height: 30px;
    transition: height 0.2s, width 0.3s;
}

.menu.active {
    padding: 10px 5px 0px 15px;
    width: 190px;
    height: 300px;
    transition: height 0.5s, width 0.5s;
    justify-content: baseline;
}

/* Menu Header */
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Menu Title */
.menu-title {
    display: none;
    margin: 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.menu-title.active {
    display: block;
}

/* Menu Icon */
.menu-icon {
    width: 30px;
    cursor: pointer;
    flex-shrink: 0;
}

.menu-icon:before,
.menu-icon:after,
.central-bar {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    border-radius: 5px;
    transition: 0.5s;
}

.central-bar {
    margin: 5px 0;
}

.menu-icon.active:before {
    transform: translateY(8px) rotate(135deg);
}

.menu-icon.active:after {
    transform: translateY(-8px) rotate(-135deg);
}

.central-bar.active {
    transform: scale(0);
}

/* Menu Items */
.menu-items {
    display: none;

}

.menu-items.active {
    display: block;
}

.menu-list {
    display: inline-block;
    justify-content: flex-start;
}

.menu-items h2 {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.menu-items a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.75rem;
}

/* Dashboard */
.dashboard {
    background-color: #007bff;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
}

.ref-menu {
    width: 30px;
    height: 20px;
    background-color: #000;
}

.content {
    flex: 1;
    border: 1px solid #000;
}