body {
    background-color: #222;
    background-image: url(../img/logo_bit_200x100.png);
    background-position-x: center;
    background-position-y: 50vh;
    background-repeat: no-repeat;
    background-size: 50%;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* CABEÇALHO */
header {
    align-items: center;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 7.5vh;
    justify-content: space-between;
    margin: 10px;
    min-height: 25px;
    min-width: 200px;
    padding: 10px 20px;
    z-index: 1000;
}

.user-primary-info {
    display: flex;
    align-items: center;
}

.user-profile-img {
    background-color: white;
    background-image: url("../img/logo.ico");
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-identify {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
}

.user-name {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
}

.user-name p {
    margin: 0;
    padding: 0;
    color: #007bff;
}

.logo {
    height: 100%;
    cursor: pointer;
}

.logout-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
}

.logout-link {
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* FIM CABEÇALHO */


main {
    display: flex;
    background-color: rgba(51, 51, 51, 0.95);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    height: calc(92.5vh - 70px);
    margin: 10px;
    min-height: 150px;
    min-width: 200px;
    z-index: 1000;
    padding: 10px;
}


/* MENU */
.menu-primary {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 25px;
    height: 20px;
    transition: height 0.2s, width 0.3s;
}

.menu-primary.active {
    width: 190px;
    height: calc(100% - 20px);
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-title {
    display: none;
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.menu-title.active {
    display: block;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    flex-shrink: 0;
}

.menu-icon:before,
.menu-icon:after,
.central-bar {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    border-radius: 5px;
    transition: 0.5s;
}

.central-bar {
    margin: 5px 0;
}


.menu-icon.active:before {
    transform: translateY(8px) rotate(135deg);
}

.menu-icon.active:after {
    transform: translateY(-8px) rotate(-135deg);
}

.central-bar.active {
    transform: scale(0);
}

/* Menu Items */
.menu-items {
    display: none;

}

.menu-items.active {
    display: block;
}

.menu-list {
    display: block;
    cursor: pointer;
}

.menu-list:hover {
    color: #007bff;
}

.menu-items h2 {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}


.menu-items a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.75rem;
}

.menu-items a:hover {
    color: #007bff;
    padding-left: 3px;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0, 123, 255, 0.5);
}

.content {
    margin: 0 10px;
    padding: 5px;
    overflow-y: auto;
    flex: 1;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
}

/* Estilos da barra de rolagem para navegadores WebKit */
.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    margin: 75px 0;
    border-radius: 15px;
}

.content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.feature p {
    text-indent: 1rem;
    text-align: justify;
}

.feature li {
    text-align: justify;
}

@media (max-width: 600px) {
    .logo {
        display: none;
    }

    .logout-link {
        display: none;
    }

    .menu-secundary {
        display: block;
    }

    .menu-primary {
        display: none;
    }
}

@media (max-height: 400px) {
    .logout-link {
        display: none;
    }

    .menu-secundary {
        display: block;
    }

    .menu-primary {
        display: none;
    }
}