html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 22.5vw;
    min-width: 200px;
    padding: 20px;
    border-radius: 0.75vw;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #ccc;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    background-color: #444;
    border: none;
    border-radius: 4px;
    color: #fff;
    box-sizing: border-box;
}

.login-erro {
    font-weight: normal;
    color: red;
    margin: 5px 0;
    padding: 0px;
}

button {
    width: 100%;
    margin: 10px 0;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-link {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 0.75rem 0;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-link:hover,
button:hover {
    background-color: #0056b3;
}

.login-alert {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5vh;
    width: auto;
    align-items: flex-end;
    right: -25vw;
    text-decoration: none;
    /* Comece com a div fora da tela à direita */
    border-radius: 10px 0px 0px 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    transition: all 1s ease-in-out;
    /* Adicione uma transição suave para a propriedade right */
}

.login-alert-mensage {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.login-alert .mensagem {
    font-size: 0.75rem;
    text-align: justify;
    opacity: 1;
    transition: all 0.5s ease, height 0.5s ease, margin 0.5s ease, padding 0.5s ease;
    /* Adicione uma transição suave para a opacidade, altura, margem e preenchimento */
}

.login-alert svg {
    width: 30px;
    height: 30px;
}

.login-alert.hovered {
    width: auto;
}

/* Adicione uma classe para animar a entrada */
.login-alert.slide-in {
    right: 0;
    /* Quando a classe slide-in for aplicada, mova a div para a posição direita 0 */
}

.login-alert .barra {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: width 5s linear;
    /* Tempo de animação da barra */
}


footer {
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
    padding: 1vh 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width:600px) {

    html,
    body {
        width: 100vw;
    }

    .container {
        justify-content: center;
        width: 100vw;
        height: 100vh;
        border: none;
        box-shadow: none;
        padding: 0px 10px;
    }

    img {
        margin-bottom: 3rem;
    }

    .login-alert .barra,
    .login-alert p {
        display: none;
    }

    .login-alert svg {
        width: 30px;
    }

    button {
        max-width: none;
    }

    footer {
        display: none;
    }
}

@media (max-height: 500px) {
    footer {
        display: none;
    }
}

@media (max-width: 200px) {
    body {
        background-color: #333;
    }
}