.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
}

.menu-button span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: none;
}

.menu-items li {
    margin: 10px 0;
}

.menu-items a {
    text-decoration: none;
    color: #fff;
}

.menu-expanded {
    display: block;
}


/* Transformando o ícone */

.menu-icon {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    position: relative;
    transition: transform 0.2s;
  }
  
  .menu-icon:nth-child(2) {
    margin: 6px 0;
  }
  
  .menu-button.active .menu-icon:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .menu-button.active .menu-icon:nth-child(2) {
    opacity: 0;
  }
  
  .menu-button.active .menu-icon:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  