.container {
    margin: 20px 20px 0px 20px;
}

header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

header p {
    color: #ccc;
    font-size: 14px;
    margin: 5px 0 0 0;
}
.cont1 {
    background-color: #007bff;
    padding: 10px 5px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    height: 450px;
    width: 220px;
}

.cont1 h1 {
    color: #fff;
    font-size: 16px;
    margin: 10px 0px;
}
.cont1 h2 {
    color: #fff;
    font-size: 15px;
    margin: 10px 0px;
}

.cont1 ul {
    padding: 0;
    margin: 0;
  }
  
  .cont1 li {
    color: #fff;
    font-size: 12px;
    margin: 5px;
    list-style: none;
    text-align: start;
    padding-left: 0;
  }

.cont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
svg {
    margin: 5px;
}
.int {
    position: absolute;
    right: 0;
    bottom: 0;
}