/* Estilo geral para o corpo do documento */
body {
    background-color: #222;
    /* Cor de fundo do corpo do documento */
    color: #fff;
    /* Cor do texto */
    margin: 10px;
    /* Margem externa para afastar o conteúdo das bordas do navegador */
    padding: 0;
    /* Preenchimento interno */
    font-family: Arial, sans-serif;
    /* Fonte do texto */
}

/* Estilo para o cabeçalho */
header {
    display: flex;
    /* Faz o cabeçalho ser um flex container */
    justify-content: space-between;
    /* Alinha os elementos do cabeçalho com espaçamento igual entre eles */
    align-items: center;
    /* Alinha os elementos verticalmente ao centro */
    background-color: #333;
    /* Cor de fundo do cabeçalho */
    border-radius: 10px;
    /* Borda arredondada do cabeçalho */
    padding: 10px 20px;
    /* Preenchimento interno do cabeçalho */
    margin-bottom: 20px;
    /* Margem inferior do cabeçalho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra do cabeçalho */
    background-image: url("../img/logo_bit_300x150px.svg");
    /* Imagem de fundo do cabeçalho */
    background-size: contain;
    /* Controla o tamanho da imagem de fundo */
    background-repeat: no-repeat;
    /* Impede a repetição da imagem de fundo */
    background-position: center;
    /* Posiciona a imagem de fundo ao centro */
}

/* Estilo para informações do usuário no cabeçalho */
.user-info {
    color: #fff;
    /* Cor do texto das informações do usuário */
    text-decoration: none;
    /* Remove sublinhado do link */
    margin-right: 10px;
    /* Margem direita entre os elementos */
    font-size: 16px;
    /* Tamanho da fonte das informações do usuário */
    font-weight: bold;
    /* Adiciona negrito às informações do usuário */
}

/* Estilo para a última informação do usuário no cabeçalho */
.user-info:last-child {
    margin-right: 0;
    /* Remove a margem direita para o último elemento */
}

/* Estilo para a imagem de perfil do usuário */
.user-profile-img {
    width: 40px;
    /* Largura da imagem de perfil */
    height: 40px;
    /* Altura da imagem de perfil */
    border-radius: 50%;
    /* Transforma a imagem em um círculo */
    background-color: #007bff;
    /* Cor de fundo da imagem de perfil */
    margin-right: 10px;
    /* Margem direita entre a imagem de perfil e as informações do usuário */
}

/* Estilo para informações principais do usuário no cabeçalho */
.user-primary-info {
    display: flex;
    /* Faz as informações principais do usuário serem um flex container */
    align-items: center;
    /* Alinha os elementos ao centro verticalmente */
}

/* Estilo para identificação do usuário no cabeçalho */
.user-identify {
    display: flex;
    /* Faz a identificação do usuário ser um flex container */
    flex-direction: column;
    /* Coloca os elementos em coluna */
}

.user-identify {
    display: flex;
    /* Faz a identificação do usuário ser um flex container */
    flex-direction: column;
    /* Coloca os elementos em coluna */
}

.user-identify p {
    display: flex;
    margin: 0px;
    padding: 0px;
    color: #007bff;
}

.user-name {
    display: inline-block;
    font-weight: bold;
    /* Remove o negrito do nome do usuário para não ficar em negrito */
}

/* Estilo para link de logout */
.logout-link {
    background-color: #007bff;
    /* Cor de fundo do link de logout */
    color: #fff;
    /* Cor do texto do link de logout */
    padding: 6px 12px;
    /* Preenchimento interno do link de logout */
    border-radius: 5px;
    /* Borda arredondada do link de logout */
    text-decoration: none;
    /* Remove sublinhado do link de logout */
    font-weight: bold;
    /* Peso da fonte do link de logout */
}

/* Estilo para link de logout ao passar o mouse */
.logout-link:hover {
    background-color: #000;
    /* Cor de fundo do link de logout ao passar o mouse */
    color: #fff;
    /* Cor do texto do link de logout ao passar o mouse */
}

/* Estilo para o menu */


main {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}


/* ------------------------------------------------ */




.menu {
    position: relative;
    /* Define a posição do menu como relativa */
    top: 0px;
    /* Posiciona o menu a 0px do topo */
    left: 0px;
    /* Posiciona o menu a 0px da esquerda */
    width: 100px;
    /* Largura do menu */
    background-color: #333;
    /* Cor de fundo do menu */
    color: #fff;
    /* Cor do texto do menu */
    padding: 10px;
    /* Preenchimento interno do menu */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Sombra do menu */
}

/* Estilo para o botão do menu */
.menu-button {
    cursor: pointer;
    /* Cursor de apontar para o botão do menu */
    display: flex;
    /* Faz o botão do menu ser um flex container */
    flex-direction: column;
    /* Coloca os elementos em coluna */
    justify-content: space-between;
    /* Alinha os elementos com espaçamento igual entre eles */
    height: 20px;
    /* Altura do botão do menu */
    width: 30px;
    /* Largura do botão do menu */
}

/* Estilo para os ícones do botão do menu */
.menu-icon {
    display: block;
    /* Faz os ícones do botão do menu serem elementos em bloco */
    height: 4px;
    /* Altura dos ícones */
    width: 100%;
    /* Largura dos ícones */
    background-color: #fff;
    /* Cor de fundo dos ícones */
    position: relative;
    /* Define a posição dos ícones como relativa */
    transition: transform 0.2s;
    /* Transição de animação ao transformar os ícones */
}

/* Estilo para o segundo ícone do botão do menu */
.menu-icon:nth-child(2) {
    margin: 6px 0;
    /* Margem entre o segundo ícone e os demais */
}

/* Estilo para o botão do menu quando estiver ativo */
.menu-button.active .menu-icon:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    /* Rotação do primeiro ícone quando o botão do menu estiver ativo */
}

/* Estilo para o botão do menu quando estiver ativo */
.menu-button.active .menu-icon:nth-child(2) {
    opacity: 0;
    /* Torna o segundo ícone transparente quando o botão do menu estiver ativo */
}

/* Estilo para o botão do menu quando estiver ativo */
.menu-button.active .menu-icon:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    /* Rotação do terceiro ícone quando o botão do menu estiver ativo */
}

/* Estilo para os itens do menu */
.menu-items {
    list-style-type: none;
    /* Remove os marcadores dos itens do menu */
    padding: 0;
    /* Preenchimento interno dos itens do menu */
    margin: 10px 0;
    /* Margem externa dos itens do menu */
    display: none;
    /* Esconde os itens do menu por padrão */
}

/* Estilo para os links dos itens do menu */
.menu-items a {
    text-decoration: none;
    /* Remove sublinhado dos links dos itens do menu */
    color: #fff;
    /* Cor do texto dos links dos itens do menu */
}

.menu-minimized {
    width: 30px;
}

/* Estilo para os itens do menu quando o menu está expandido */
.menu-expanded {
    display: block;
    /* Mostra os itens do menu quando o menu está expandido */
}

.menu-expanded .menu-items {
    display: block;
}

/* Estilo para a área de conteúdo */
.content {
    flex: 1;
    /* Faz a área de conteúdo ocupar o espaço restante */
    padding: 20px;
    /* Preenchimento interno da área de conteúdo */
    background-color: #444;
    /* Cor de fundo da área de conteúdo */
}