@keyframes slideIn {
    0% {
        top: -10vh;
        opacity: 0;
    }

    10%,
    90% {
        top: 10vh;
        opacity: 1;
    }

    100% {
        top: -10vh;
        opacity: 0;
    }
}

.content-error {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: red;
    border-radius: 5px;
}

#status {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: -10vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Mensagem flutuante ao topo da página com alertas */
.slide-mensage {
    display: flex;
    position: fixed;
    justify-content: center;
    animation: slideIn 3s forwards;
}


.success {
    font-size: 16px;
    padding: 10px;
    background-color: rgb(53, 171, 112);
    border-radius: 10px;
}

.alert {
    font-size: 16px;
    padding: 10px;
    background-color: rgb(224, 77, 77);
    border-radius: 10px;
}


/* Estilos Formulários */
form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    min-width: 180px;
    height: calc(92.5vh - 200px);
}

label {
    font-size: 1rem;
    margin: 0.15rem;
    color: #fff;
}

input,
select,
textarea {
    padding: 5px;
    width: calc(100% - 4px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    font-size: 1rem;
    overflow: hidden;
    resize: none;
    height: 90%;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 1rem;
}

fieldset div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    width: 100%;
}

fieldset label {
    width: calc(100% - 1rem);
}

fieldset input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}




button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    margin: 5px 10px;
    padding: 6px 12px;
    height: 40px;
    min-width: 100px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos Grid */
.grid-template {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    height: calc(100% - 20px)
}

.extra-larger-field {
    grid-area: span 1 / span 12;
}

.larger-field {
    grid-area: span 1 / span 9;
}

.normal-field {
    grid-area: span 1 / span 6;
}

.small-field {
    grid-area: span 1 / span 3;
}

.extra-small-field {
    grid-area: span 1 / span 2;
}

.extra-small-field input {
    max-width: 150px;
}

.textarea-field {
    grid-area: span 6 / span 4;
}

.fieldset-field {
    grid-area: span 6 / span 4;
}

.button-area {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 0 100px;
    order: 9;
}






/* Estilos Tabelas */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */






@media (max-width: 1000px) {
    .extra-small-field {
        grid-column: span 3;
    }

    .textarea-field {
        grid-row: span 1;
    }
}

@media (max-width: 800px) {
    .small-field {
        grid-column: span 6;
    }

    .fieldset-field {
        grid-column: span 6;
    }

    .textarea-field {
        order: -1;
    }

    .button-area {
        margin: 0;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .larger-field {
        grid-column: span 12;
    }

    .normal-field {
        grid-column: span 9;
    }

    .extra-small-field {
        grid-column: span 6;
    }

    .normal-field,
    .textarea-field,
    .fieldset-field {
        grid-column: span 12;
    }

    .valores {
        grid-column: span 6;
    }
}

@media (max-width: 400px) {
    .small-field,
    .extra-small-field,
    .fieldset-field {
        grid-column: span 12;
    }

    .textarea-field {
        order: 0;
    }

    button {
        width: 100%;
    }
}